# vscode settings
.vscode/

# python artifacts
**/*.py[abc]
**/__pycache__/

# pytest artifacts
**/.pytest_cache

# sphinx artifacts
docs/build

# development crud
**/sandbox.py

# alembic migrations
**/migrations/versions/*

# development crud
**/*.old