[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
"psycopg2-binary" = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
tableschema = "*"
tableschema-sql = "*"
alembic = "*"
brighthive-authlib = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pycodestyle = "*"
"autopep8" = "*"
sphinx = "*"
expects = "*"

[requires]
python_version = "3.7"
