[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
"psycopg2-binary" = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
tableschema = "*"
tableschema-sql = "*"
alembic = "*"
brighthive-authlib = "*"
pip = "*"
gevent = "*"
pytest-env = "*"
watchdog = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pycodestyle = "*"
"autopep8" = "*"
sphinx = "*"
expects = "*"
docker = "*"
flake8 = "*"
pytest-mock = "*"
pre-commit = "*"
bandit = "*"

[requires]
python_version = "3.7"
