[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
pycodestyle = "*"
"autopep8" = "*"
sphinx = "*"

[requires]
python_version = "3.7"
